<h1><%= sketch.title %></h1>
<h1>sketch.js</h1>
<div class="row">
    <div class="col-md">
        <a href="/sketches/<%= sketch._id %>"><img class="img-fluid" src=<%= sketch.giphy_url %> /></a><br>
    </div>
    <div class="col-md">
        <img class="img-fluid" src=<%= sketch.imgUrl %> />
        <span>
            By: <%= sketch._by.name %>
        </span>
    </div>
</div>

