<h1><%=title %>: <%=user.name %></h1>

<h3><%= user.name %> Gallery</h3>

<% sketches.forEach(function(s){ %>
    <h3>Title:<%= s.title %> </h3>
    <h6>Id:<%= s.id %> </h6>
    <img src='<%= s.imgUrl %>' />
    <img src='<%= s.giphy_url %>' />

<% }) %>


