<!-- <h1><%=title %>: <%=user.name %></h1> -->

<h3><%= user.name %> 's Gallery</h3>
<button onclick="window.location.href='/sketches/new'">make new sketchy</button>
<% sketches.forEach(function(s){ %>
    <h3>
    <a href="/sketches/<%= s._id %>">Title:<%= s.title %></a> 
    </h3>
    <!-- <h6>Id:<%= s.id %> </h6> -->
    <img src='<%= s.imgUrl %>' />
    <img src='<%= s.giphy_url %>' />

<% }) %>

<!-- user's show all sketch view, need to made card and link to -->

