<h3 class="text-center" style="margin: 1rem; color:#4E4846;"><%= user.name %> 's Sketchy Gallery</h3>
<div class="text-center">
        <button onclick="window.location.href='/sketches/new'" class="btn" style="background-color: #ea4c89; color:white;">Make a new sketchy</button>
</div>
    
<% sketches.forEach(function(s){ %>
        <div class="card">
                <div id="card-thumb" >
                        <img class="card-img-left" src="<%= s.giphy_url %>" alt="Card image cap">
                        <img class="card-img-right" src="<%= s.imgUrl %>" alt="Card image cap">
                </div>

                <div id="card-desc" class="card-body">
                        <h5 class="card-title">
                        <a href="/sketches/<%= s._id %>"><%= s.title %></a>
                        </h5>
                        <hr>
                        <p class="card-text"><%= s.tag%></p>
                </div>    
        </div>
<% }) %>

